<%= form_for @book do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :pages %>
    <%= f.text_field :pages %>
  </div>
  <div>
    <%= f.label :summary %>
    <%= f.text_area :summary %>
  </div>
  <%= f.submit %>
<% end %>