<h1><%= @book.name %></h1>

<%= link_to "Edit", edit_book_path(@book) %> | 
<%= link_to "Delete", @book, method: :delete, data:{confirm: "Are you sure?"} %>
<p>Pages: <%= @book.pages %></p>
<p><%= simple_format @book.summary %></p>

<%= link_to "All Books", books_path %>